@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Black.ttf") format("truetype"),
       url("./fonts/Lato-BlackItalic.ttf") format("truetype"),
       url("./fonts/Lato-Bold.ttf") format("truetype"),
       url("./fonts/Lato-BoldItalic.ttf") format("truetype"),
       url("./fonts/Lato-Italic.ttf") format("truetype"),
       url("./fonts/Lato-Light.ttf") format("truetype"),
       url("./fonts/Lato-LightItalic.ttf") format("truetype"),
       url("./fonts/Lato-Regular.ttf") format("truetype"),
       url("./fonts/Lato-Thin.ttf") format("truetype"),
       url("./fonts/Lato-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.nav{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
}
#nav-link{
  text-decoration: none;
  color:white;
  font-size: 22px;
}

img{
  border-radius: 12px;
}
.fancyNav{
  font-family: 'Lato';
  font-weight: 600;
  font-size: 20px;
  padding-top:16px;
  padding-bottom: 24px;
  color: black;
  text-decoration: none;
}
.fancyNav:hover{
  color:#6D6875;
}

.cardImg{
  width: 400px;
  height: 250px;
  borderRadius: 16px;
}
.SimacImg{
  width: 500px;
  height: 680px;
}
.PortfolioImg{
  width: 500px; 
  height: 450px;
}
@media only screen and (max-width: 780px) {
  .cardImg {
    width: 300px;
    height: 200px;
  }
  .SimacImg{
    width: 350px;
    height: 480px;
    margin:auto;
  }
  .PortfolioImg{
    width: 280px;
    height: 250px;
    margin:auto;
  }
}