@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf") format("truetype"),
       url("./fonts/Poppins-BlackItalic.ttf") format("truetype"),
       url("./fonts/Poppins-Bold.ttf") format("truetype"),
       url("./fonts/Poppins-BoldItalic.ttf") format("truetype"),
       url("./fonts/Poppins-SemiBold.ttf") format("truetype"),
       url("./fonts/Poppins-Medium.ttf") format("truetype"),
       url("./fonts/Poppins-Italic.ttf") format("truetype"),
       url("./fonts/Poppins-Light.ttf") format("truetype"),
       url("./fonts/Poppins-LightItalic.ttf") format("truetype"),
       url("./fonts/Poppins-Regular.ttf") format("truetype"),
       url("./fonts/Poppins-Thin.ttf") format("truetype"),
       url("./fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.nav{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
}
#nav-link{
  text-decoration: none;
  color:#151322;
  font-size: 22px;
}

img{
  border-radius: 12px;
}
.fancyNav{
  font-family: 'Poppins Medium';
  font-weight: 600;
  font-size: 20px;
  padding-top:16px;
  padding-bottom: 24px;
  color: #151322;
  text-decoration: none;
}
.fancyNav:hover{
  color:#7c6aa6;
}
.video{
  width:500px;
  height:500px;
}
.cardImg{
  width: 400px;
  height: 250px;
  border-radius: 16px;
}
.SimacImg{
  width: 500px;
  height: 680px;
}
.PortfolioImg{
  width: 500px; 
  height: 450px;
}
#sumImg{
  width:500px;
  height: 350px;
  margin: auto;
}
.IntrImg{
  width:550px;
  height: 550px;
}
@media only screen and (max-width: 780px) {
  .cardImg {
    width: 300px;
    height: 200px;
  }
  .SimacImg{
    width: 350px;
    height: 480px;
    margin:auto;
  }
  .PortfolioImg{
    width: 325px;
    height: 250px;
    margin:auto;
  }
  #sumImg{
    width:300px;
  }
  .IntrImg{
    width:330px;
    height: 330px;
    margin: auto;
  }
}