.is-active {
  color: red !important;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf") format("truetype"),
       url("./fonts/Poppins-BlackItalic.ttf") format("truetype"),
       url("./fonts/Poppins-Bold.ttf") format("truetype"),
       url("./fonts/Poppins-BoldItalic.ttf") format("truetype"),
       url("./fonts/Poppins-SemiBold.ttf") format("truetype"),
       url("./fonts/Poppins-Medium.ttf") format("truetype"),
       url("./fonts/Poppins-Italic.ttf") format("truetype"),
       url("./fonts/Poppins-Light.ttf") format("truetype"),
       url("./fonts/Poppins-LightItalic.ttf") format("truetype"),
       url("./fonts/Poppins-Regular.ttf") format("truetype"),
       url("./fonts/Poppins-Thin.ttf") format("truetype"),
       url("./fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dekko";
  src: url("./fonts/Dekko-Regular.ttf") format("truetype");
  font-style: normal;
}
#logo{
width: 100px;
height: 100px;
}
.nav{
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
}
#nav-link{
  text-decoration: none;
  color:#151322;
  font-size: 22px;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
}
#nav-link:focus,
#nav-link:hover {
  color: #bdb2cf;
}

#nav-link:focus:after,
#nav-link:hover:after {
  width: 100%;
  left: 0%;
}

#nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #bdb2cf;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.active-scroll-spy {
  background-color: yellowgreen;
  border-radius: 15px;
}
/* .active {
  color: red !important;
} */
.card {
  box-sizing: border-box;
  width: 350px;
  /* height: auto; */
  height: 500px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.card:hover {
  /* border: 1px solid black; */
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}



img{
  border-radius: 12px;
}
.fancyNav{
  font-family: 'Poppins Medium';
  font-weight: 600;
  font-size: 20px;
  padding-top:16px;
  padding-bottom: 24px;
  color: #151322;
  text-decoration: none;
}
.fancyNav:hover{
  color:#7c6aa6;
}
.fancyNav:active, .fancyNav::after{
  color:#7c6aa6 !important;
}
.video{
  width:500px;
  height:500px;
}
.cardImg{
  width: 350px;
  height: 250px;
  border-radius: 16px;
}
.SimacImg{
  width: 500px;
  height: 680px;
}
.PortfolioImg{
  width: 500px; 
  height: 450px;
}
#sumImg{
  width: 350px;
  height: 250px;
  margin: auto;
}
.IntrImg{
  width:550px;
  height: 550px;
}
@media only screen and (max-width: 780px) {
  .cardImg {
    width: 300px;
    height: 200px;
  }
  .SimacImg{
    width: 350px;
    height: 480px;
    margin:auto;
  }
  .PortfolioImg{
    width: 325px;
    height: 250px;
    margin:auto;
  }
  #sumImg{
    width:300px;
  }
  .IntrImg{
    width:330px;
    height: 330px;
    margin: auto;
  }
}